.card{
  width: 18rem;
  flex-direction: row;
  cursor: pointer;
}
.header{

  text-align: center;
  color:blue;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}